body {
    background: #d7eef8;
    font-family: 'Forum', cursive;
}

/*font-family: 'Forum', cursive;
font-family: 'Work Sans', sans-serif*/

h1 {
    font-size: 19rem;
}

/* Reusable classes */

.uppercase {
    text-transform: uppercase;
}

.font-weight-400 {
    font-weight: 400;
}