body {
    background: #d7eef8;
    font-family: 'Forum', cursive;
    color: #18191A;
}

/*font-family: 'Forum', cursive;
font-family: 'Work Sans', sans-serif*/

h1 {
    font-size: 19rem;
}

li {
    font-family: 'Work Sans', sans-serif;
    list-style: none;
}

a {
    color: #18191A;
    text-decoration: none;
}

.line {
    width: 10rem;
    height: 4rem;
    border-top: solid 0.1rem #18191A;
}

/* Reusable classes */

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}



.uppercase {
    text-transform: uppercase;
}

.line-height {
    line-height: 1.6;
}

.font-weight-400 {
    font-weight: 400;
}


.margin-right-2 {
    margin-right: 2rem;
}